black==22.3.0
boto3==1.24.1
botocore==1.27.1
botocore-stubs==1.27.8
click==8.1.3
flake8==4.0.1
flower==1.1.0
halo==0.0.31
kaleido==0.2.1
kubernetes==23.6.0
numpy==1.22.4
pandas==1.4.2
plotly==5.8.0
pyparsing==3.0.9
pytest==7.1.2
python-dotenv==0.20.0
PyYAML==6.0
terminaltables==3.1.10
pre-commit>=2.18
paramiko>=2.11.0
inquirer>=2.10.0
coloredlogs==15.0.1
transitions==0.9.0
sshconf==0.2.5
boto3-stubs==1.24.83