Flask==2.1.2
celery==5.2.6
redis==3.5.3
flower==1.0.0
Flask-CeleryExt==0.3.4
watchgod==0.7
requests==2.26.0
pytest==6.2.4
pytest-flask==1.2.0
factory-boy==3.2.0
pytest-factoryboy==2.1.0
pytest-cov==2.12.1
Pillow==9.1.1
pydantic==1.9.0
pytest-cov==2.12.1
click==8.1.3
