boto3==1.24.1
botocore==1.27.1
cachetools==5.2.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
google-auth==2.6.6
halo==0.0.31
idna==3.3
jmespath==1.0.0
kaleido==0.2.1
kubernetes==23.6.0
log-symbols==0.0.14
numpy==1.22.4
oauthlib==3.2.0
pandas==1.4.2
plotly==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.6.0
six==1.16.0
spinners==0.0.24
tenacity==8.0.1
termcolor==1.1.0
urllib3==1.26.9
websocket-client==1.3.2
pre-commit>=2.19.0
