attrs==21.4.0
black==22.3.0
boto3==1.24.1
boto3-stubs==1.24.8
botocore==1.27.1
botocore-stubs==1.27.8
cachetools==5.2.0
certifi==2022.5.18.1
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cryptography==37.0.2
distlib==0.3.4
e==1.4.5
filelock==3.7.1
flake8==4.0.1
Flask==2.1.2
gcd==0.1
google-auth==2.6.6
halo==0.0.31
identify==2.5.1
idna==3.3
importlib-metadata==4.11.4
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.0
kaleido==0.2.1
kubernetes==23.6.0
log-symbols==0.0.14
MarkupSafe==2.1.1
mccabe==0.6.1
moto==3.1.12
mypy-boto3-cloudformation==1.24.0
mypy-boto3-dynamodb==1.24.0
mypy-boto3-ec2==1.24.0
mypy-boto3-lambda==1.24.0
mypy-boto3-rds==1.24.0
mypy-boto3-s3==1.24.0
mypy-boto3-sqs==1.24.0
mypy-extensions==0.4.3
nodeenv==1.6.0
numpy==1.22.4
oauthlib==3.2.0
packaging==21.3
pandas==1.4.2
pathspec==0.9.0
platformdirs==2.5.2
plotly==5.8.0
pluggy==1.0.0
pre-commit==2.19.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
responses==0.21.0
rsa==4.8
s3transfer==0.6.0
six==1.16.0
spinners==0.0.24
tenacity==8.0.1
termcolor==1.1.0
terminaltables==3.1.10
toml==0.10.2
tomli==2.0.1
typing_extensions==4.2.0
urllib3==1.26.9
virtualenv==20.14.1
websocket-client==1.3.2
Werkzeug==2.1.2
xmltodict==0.13.0
zipp==3.8.0
