# These are necessary packages to build `server` and `worker`.
# Please do not change them.
# =================
Flask==2.1.2
celery==5.2.6
redis==3.5.3
Flask-CeleryExt==0.3.4
pytest-flask==1.2.0
factory-boy==3.2.0
Pillow==9.1.1
pydantic==1.9.0
click==8.1.3
# ===================

# These are packages for solar-data-tools
# If you would like to add extra packages,
# please add or modify them here.
boto3==1.21.19
scipy==1.7.3
numpy==1.19.2
pandas==1.3.5
scikit-learn==1.0.2
seaborn==0.11.2
requests==2.26.0
pvlib==0.9.1
cvxpy==1.2.1
Mosek==9.3.20
solar-data-tools==0.5.4
